form, div, input, textarea {
    outline: none; /* Uklanja sivu granicu kada element dobije focus */
    border: none;  /* Uklanja sivu granicu oko elementa */
  }

.addItemDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
  .productForm {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  .inputDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .inputDiv label {
    margin-bottom: 5px;
  }
  
  .inputDiv input,
  .inputDiv textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;

  }
  
  .submitButton {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
    margin-left: 10px;
  }
  .image {
    max-height: 150px;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    object-fit: contain;
    margin-bottom: 5px;
    margin-right: 10px;
  }